
@media screen and ( max-width: 375px) {
    .c{ display: flex;
        height: 1em;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 16%;
        margin-right: -51%;
        font-size:200px }
        .T{
            height: 2.4em;
            margin-top: 18px;
            position: absolute;
            top: 15%;
            left: 33%;
            margin-right: -51%;
            border-top: 5px solid #333562;
            border-bottom: 5px solid #333562;
            font-size: 30px;
        }
        .tt{
            height: 5em;
            margin: 0;
            position: absolute;
            top: 70%;
            left: 40%;
            margin-right: -51%;
           color: #333562;
        }
        .S{
            margin: 0;
            position: absolute;
            top: 82%;
            left: 9%;
            margin-right: -51%;
        }
        .E{
        background: #333562;
        border-radius: 20px;
        height: 63px;
        width: 327px;
        border: none;

        }
        .A{
            display: flex;
            height:810px;
            width:375px;
            margin-left: auto;
        margin-right: auto;
        align-items:center;
        }
    body{
        height:100vh;
        background: linear-gradient(180deg, #F5F6FB 0%,  #B0B8DE 100%);
    }
    /* REGISRER */

.TR h1{
    font-size: 32px;
    color: #333562;
}
.TR{
    position: absolute;
left: 18%;
right: 18.13%;
top: 29.93%;
bottom: 66.63%;
}
.Phone{   
     display: flex;
    flex-direction: column;
    position: absolute;
    width: 327px;
    height: 56px;
    left: 24px;
    top: 361px;


}
.Br{ border: none;
    margin-top: 14px;
    background: #F5F6FB;
    border: 1px solid rgba(51, 53, 98, 0.5);
    border-radius: 20px;
    box-sizing: border-box;
}
.button-con button{
    background: #333562;
    border-radius: 20px;
    height: 63px;
    width: 327px;
    border: none;
    color: #FFFFFF;

}
.button-con{
    position: absolute;
width: 327px;
height: 56px;
left: 24px;
top: 441px;
}
/* SMS */
.sms{
    display: flex;
    flex-direction: column;
}
.j{ display: flex;
 justify-content:center;
 align-self: center;
 flex-direction: column;
 height: auto;
 width: auto;
}

.cn{
    position: absolute;
    left: 6.4%;
    right: 6.4%;
    bottom: 82.27%;
    text-align: center;
    color: #333562;
    margin-top: 24px;
}

.sms input{
    background: #F5F6FB;
    border: 1px solid rgba(51, 53, 98, 0.5);
    border-radius: 20px;
}

.M{
    position: absolute;
left: 6.4%;
right: 29.87%;
top: 27.71%;
bottom: 69.83%;
}
.sms-A{
    box-sizing: border-box;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 30%;
    bottom: 66%;
    background: #F5F6FB;
    border: 1px solid rgba(51, 53, 98, 0.5);
    border-radius: 20px;

}

.P{
    position: absolute;
left: 6.4%;
right: 6.4%;
top: 42.98%;
bottom: 50.12%;
text-align: center;
}
.P button{
    background: #333562;
border-radius: 20px;
height: 63px;
width: 327px;
color:white;
}
.Send-again{
    position: absolute;
left: 6.4%;
right: 6.4%;
top: 55.54%;
bottom: 42%;
color: #333562;
text-align: center;
}
.back{
    color: #333562;
}
/*map*/


.map{
    display: flex;
    position: relative;
width: 375px;
height: 812px;
justify-content: center;

background: #FFFFFF;
}
body{
    background: #FFFFFF;
}
.loca{
    position: absolute;
    width: 257px;
    height: 30px;
    left: 49px;
    top: 117px;
    display: flex;
    justify-content: center;
    flex-direction: column
}
.gir{
    position: absolute;
width: 48px;
height: 48px;
    left: 313px;
    top: 381px;

filter: drop-shadow(4px 4px 3px rgba(51, 53, 98, 0.3));
background-color: #FFFFFF;
}
.m{position: absolute;
    width: 48px;
    height: 48px;
    left: 303px;
    top: 56px;
    
    filter: drop-shadow(4px 4px 3px rgba(51, 53, 98, 0.3));
}
.white{box-sizing: border-box;

    position: absolute;
    width: 375px;
    height: 391px;
    left: 0px;
    top: 439px;
    
    
    background: #F5F6FB;
    border: 1px solid rgba(51, 53, 98, 0.5);
    border-radius: 50px 50px 0px 0px;}
.loca label{
    left: 6.4%;
    right: 53.33%;
    top: 63.67%;
    bottom: 33.87%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    
    letter-spacing: -0.24px;
    
    
    
    color: #333562;

}
.loca input{
    box-sizing: border-box;

left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


background: #F5F6FB;
border: 1px solid rgba(51, 53, 98, 0.5);
border-radius: 20px;
}
/*pick*/
.map-ad{
    position: absolute;
left: 6.4%;
right: 6.4%;
top: 14.66%;
bottom: 78.45%;
}
.map-ad input{
    box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #F5F6FB;
border: 1px solid rgba(51, 53, 98, 0.5);
border-radius: 20px;
}

.pick-on img{position: absolute;
    width: 24px;
    height: 24px;
    left: 111px;
    top: 207px;


}

.pick-on h{position: absolute;
    left: 6.4%;
    right: 6.4%;
    top: 25.74%;
    bottom: 71.8%;
    text-align: center;
letter-spacing: -0.24px;
text-decoration-line: underline;
color: #333562;
}

.pick-on{
    display: flex;
}
/* Selection */
.back-back{
    position: absolute;
    width: 85px;
    height: 28px;
    left: 24px;
    top: 56px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 11px;

}
.tel{
    box-sizing: border-box;

position: absolute;
width: 375px;
height: 373px;
left: 2px;
top: 439px;


background: #F5F6FB;
border: 1px solid rgba(51, 53, 98, 0.5);
border-radius: 50px 50px 0px 0px;
}
.Eco button{
    position: absolute;
width: 102px;
height: 81px;
left: 24px;
top: 44px;
background: #333562;
border:0;
color: #FFFFFF;
}
.Stand button{
    position: absolute;
width: 102px;
height: 81px;
left: 136px;
top: 44px;
color: #333562;
background: #B0B8DE;
border:0;
}
.Prem button{
    position: absolute;
width: 102px;
height: 81px;
left: 260px;
top: 44px;
color: #333562;
background: #B0B8DE;
border:0;
}
.UAH{ position: absolute;
    width: 126px;
    height: 20px;
    left: 27px;
    top: 126px;

    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;
    
    
    color: #333562;

}



.payment{
    position: absolute;
    width: 164px;
    height: 20px;
    left: 111px;
    top: 173px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;
    
   
    
    color: #333562;

}
.card{
    display: flex;
    justify-content: space-around;
    top: 13px;
    position: absolute;
}
.io{ display: flex;
    position: absolute;
    width: 33px;
    height: 66px;
    left: 53px;
    top: 193px;
    color: #333562;
}
.ia{
display: flex;
    position: absolute;
    width: 33px;
    height: 66px;
    left: 240px;
    top: 193px;
    color: #333562;
}
.order{position: absolute;
  
    right: 43.33%;
    top: 69.27%;
    bottom: 7.27%;
    
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #333562;}
 /*help*/
.lo{
    position: absolute;
left: 29.87%;
right: 6.4%;
top: 22.29%;
bottom: 67.86%;
line-height: 20px;

letter-spacing: -0.24px;


color: #333562;
}
.po{
    position: absolute;
left: 6.4%;
right: 6.4%;
top: 8.99%;
bottom: 81.16%;
line-height: 40px;
text-align: center;
color: #333562;

}
.loca-two{
    position: absolute;
    width: 257px;
    height: 30px;
    left: 49px;
    top: 648px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #333562;
}
.ki{
    position: absolute;
left: 25.07%;
right: 24.53%;
bottom: 39.9%;
line-height: 40px;
display: flex;
top: -568.83%;
text-align: center;


color: #333562;
}
    .hlp{
        max-width:max-content;
        max-height: max-content;
    }

    .button-three button{
        background: #333562;
        border-radius: 20px;
        height: 63px;
        width: 327px;
        border: none;
        color: #FFFFFF;
        left: 6.4%;}
.button-three{ right: 8.33%;
    display: flex;
    position: absolute;
    top: 63.67%;
    bottom: 33.87%;
    }
}